<%- include("header") -%>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
   
<div class="box">
   
 
        <% Added.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox">
                    <p><%= item.name %></p>
                   </div>
            </form>
       <% }) %>
     


     

     <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add new checkList" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
</div> 
</body>
<%- include("footer") -%>
</html>